<h4 class="ui center aligned medium icon header">
  <i class="inverted orange circular coffee icon"></i>
  Say something
</h4>

<div class="ui centered column grid">
  <div class="eight wide column" style="flex: 1;">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-container">
          <%= render @messages %>
        </div>
      </div><!--content-->
      <div class="extra content">
        <%= form_with(model: @message, url: message_path, class: "ui reply form", id: "chat-form") do |f| %>
          <div class="field">
            <div class="ui icon input">
              <%= f.text_field :body, id: "chat-message" , placeholer: "Chat message..." %>
              <%= f.button '<i class="bordered inverted orange edit icon" id="chat-button"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div><!-- twelve wide column -->
  <div class="four wide column" style="flex: 0 0 270px;">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div><!-- two wide column -->
</div>




