<% flash.each do |name, msg| %>
  <div class="ui <%= name %> message transition">
    <i class="close icon"></i>
    <% if msg.is_a?(Array) %>
      <div class="header">
        <%= msg[0].html_safe %>
      </div>
      <p><%= msg[1].html_safe %></p>
    <% else %>
      <div class="header">
        <%= msg.html_safe %>
      </div>
    <% end %>
  </div>
<% end %>