<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item " %>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <% if logged_in? %>
          <%= current_user.username %> <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to "Log out", logout_path, method: :delete, class: "item" %>
          </div>
        <% else %>
          Account <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to "Log in", login_path, class: "item" %>
            <a class="item">Sign up</a>
          </div>
        <% end %>
      </div>
      <div class="item">
        <div class="ui primary button">Sign up</div>
      </div>
    </div>
  </div>
</div>